# Dependencies
node_modules/

# Build outputs
dist/
dist/*

# Public assets (generated)
public/
public/*

# Ensure no nested tracking
**/dist/
**/public/

tmp/
# Large skybox files
assets/skybox/uploads_files_5527277_Free+Galaxies+8k.hdr
assets/skybox/uploads_files_5527562_Free+HDRI+8k.hdr
